@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html{
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Urbanist', sans-serif;
}

.sticky-section{
  @apply min-h-screen w-[50%] ml-auto items-center justify-center sticky top-0;
}

:root {
  --red-color: #fd8e8e;
  --amber-color: #fde58e;
  --green-color: #8efdb0;
} 

#let-work:hover{
 background-color: var(--bg-color)
}

#wrapper{
 overflow: hidden;
}



